body{
    line-height: 1.5;
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;
    color: var(--main_font_grey_colr2);
}

:root{
    --color1: #6D4E43;
    --color2: #3F2A24;
    --color3: #9e753f;
    --color4: #c89656;
    --red_color: #bb330a;
    --blue_color1: #9DB7D6;
    --shadow_color: #0000004d;
    --blue_color2: #2F486D;
    --blue_color3: #305690;

    --main_grey_section_colr1: #F2F1F2;
    --main_grey_section_colr2: #C7C7C6;
    --main_grey_section_colr3: #fafafa;
    --main_font_grey_colr1: #414141;
    --main_font_grey_colr2: #4D4D4D;
    --main_blue_grey_colr1: #2D333E;
    --main_blue_grey_colr2: #11161C;
    --main_orange_colr1: hsl(17, 70%, 68%);
    --main_orange_colr2: #F4A259;
    --main_orange_colr3: #FFA630;
    --main_orange_colr4: hsl(17, 80%, 57%);

}

div.home_head{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)) ,url(analysis-2030261_1920.jpg) no-repeat center/cover;
    margin: 0;
    color: white;
    padding-bottom: 30px 30px 0 30px;
    padding-top: 70px;
    /* position: relative; */
}

div.home_head img{
    width: 300px;
    display: block;
    border-radius: 50%;
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: -10px 0 10px 0; 
}

div.short_line{
    height: 1px;
    width: 300px;
    background-color: lightgrey;
    margin: 0px auto 20px auto;
}

div.home_head p{
    text-align: center;
    color: #d4d1d1;
    margin-bottom: 110px;
}

div.mobile_contact{
    margin: 50px 0 20px 0;
    text-align: center;
}

div.mobile_contact a{
    text-decoration: none;
    background-color: var(--color3);
    padding: 10px 30px;
    border: solid 1px var(--color3);
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

div.mobile_contact a:hover{
    background-color: var(--shadow_color);
    border: solid 1px var(--color1);
    font-size: 18px;
}

div.home_head nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--main_blue_grey_colr1);
    padding: 20px 0;
}

nav li{
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    /* color: white; */
    color: var(--main_orange_colr1);
    font-size: 20px;
    transition-duration: 0.5s;
}

nav li a:hover{
    /* color: var(--main_orange_colr); */
    color: white;
    font-size: 23px;
    border-bottom: solid 4px white;
}

div.intro{
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    /* background-color: lightgray; */
    position: relative;
    color: var(--main_font_grey_colr2);
    padding: 30px 0px 50px 30px;
}

#space1{
    position: absolute;
    background-color: white;
    top: 10px;
    left: 0;
    color: var(--main_orange_colr);
    padding: 5px 35% 0 20px;
    font-size: 30px;
}

div.p_container{
    margin: 0;
    padding: 10px 30px 30px 30px;
    border-right: lightgray solid 1px;
    border-top: lightgrey solid 1px;
}

div.intro p{
    font-size: 20px;
    max-width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

div.grey_space{
    position: absolute;
    background-color: white;
    bottom: 190px;
    padding: 5px 200px;
    right: 0;
    height: 25px;
    width: 10%;
}

/* ______________________________________________________________________________________ */


div.bloc2_more_info{
    background: url(triangle1white.svg) no-repeat center top/100%, url(triangle2white.svg) no-repeat center bottom/100%;
    margin: 0;
    padding-bottom: 90px;
    background-color: var(--main_grey_section_colr1);
    padding-top: 90px;
}

div.txt{
    width: 40%;
    text-align: justify;
    display: inline-block;
    z-index: 3;
    margin: 0px 0 50px 100px;
    padding: 10px 10px 40px 10px;
    font-size: 18px;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--red_color);
}

div#h2_phone_container{
    text-align: center;
    margin-bottom: 40px;
}

h2#phone{
    display: inline-block;
    border-bottom: solid 3px var(--red_color);
}

div.img_container{
    background-color: var(--main_orange_colr2);
    width: 40%;
    display: inline-block;
    margin-bottom: 50px;
}

div.img_container img{
    width: 100%;
    display: block;
    position: relative;
    bottom: -50px;
    right: -30px;
    box-shadow: -15px -8px 3px var(--shadow_color);
    transition-duration: 1s;
    /* max-height: 400px; */
}

div.img_container img:hover{
    width: 110%;
}

div.txt p{
    padding: 20px 0px;
    margin: 0;
    /* max-width: 500px;
    margin-left: auto;
    margin-right: auto; */
}

a.bouton_linkedin{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--main_orange_colr1);
    border-bottom: solid 3px var(--main_orange_colr1);
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 10px;
    transition-duration: 0.5s;
}


/* ________________________________________________________________________________ */

div.bouton{
    margin: 70px 0 20px 0;
    text-align: center;
}

div.bouton a{
    text-decoration: none;
    color: white;
    background-color: hsl(43, 4%, 35%);
    padding: 10px 30px;
    /* border: solid 2px var(--main_orange_colr1); */
    font-weight: bold;
    transition-duration: 0.5s;
}

div.bouton a:hover{
    font-size: 14px;
    box-shadow: -3px 3px 2px var(--shadow_color);
    border-bottom: solid 2px var(--main_orange_colr1);
    border-left: solid 2px var(--main_orange_colr1);
    background-color: white;
    color: var(--main_orange_colr1);
}


/* ______________________________________________________________________________________ */


div.bloc3{
    background: url(triangle1white.svg) no-repeat center top/100%;
    padding: 50px;
    padding-top: 100px;
    margin-top: 0;
    background-color: var(--main_grey_section_colr3);
    text-align: center;
}

div.portfolios{
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
}

div.portf{
    width: 30%;
    box-shadow: 0 2px 10px var(--shadow_color);
    background-color: white;
    border-radius: 10px;
    transition-duration: 1s;
    padding-bottom: 20px;
}

div.portf:hover{
    width: 35%;
    box-shadow: -8px 5px 5px var(--shadow_color);
}

div.bloc3 h2{
    display: inline-block;
    /* color: rgb(60, 59, 59); */
    font-size: 40px;
    margin: 0 0 80px 0;
    border-bottom: solid 5px var(--red_color);
    padding: 5px 15px;
}

div.portf img{
    width: 100%;
}

div.text{
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #434242;
}

div.text h3{
    color: #525151;
    font-size: 18px;
}

div.text a{
    text-decoration: none;
    color: var(--main_orange_colr4);
    padding: 7px 10px;
    border-bottom: solid 3px var(--main_orange_colr4);
    transition-duration: 0.3s;
    font-weight: bold;
    font-size: 15px;
}

div.text a:hover{
    border-left: solid 3px var(--main_orange_colr4);
    border-bottom: solid 3px var(--main_orange_colr4);
    font-size: 14px;
    box-shadow: -4px 3px 4px var(--shadow_color);
}


/* _______________________________________________________________________________ */

div.all_contacts{
    margin: 0 0 100px 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--main_font_grey_colr1);
}

div.all_contacts p{
    font-size: 23px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-top: 7px;
}

div.all_contacts img{
    width: 50px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

div.all_contacts img:hover{
    width: 65px;
}

/* _______________________________________________________________________________ */


iframe.foot_iframe{
    width: 100%;
    height: 600px;
}


/* _________________________________FOOT_FRAME____________________________________ */


div.foot{
    color: white;
    margin: 40px;
}

div.foot_img_container{
    background: url(laboratory-1338722_1920.jpg) no-repeat center/cover;
    width: 65%;
    position: relative;
    left: 15%;
    margin-right: 100px;
}

div.foot_img_container img{
    width: 100%;
    border-radius: 20px;
}

div.table_img_and_text{
    background-color: rgba(8, 8, 8, 0.75);
    color: white;
    text-align: left;
    padding: 30px;
    margin-top: 70px;
    position: relative;
    top: 100px;
    left: 100px;
    border-right: solid 5px var(--main_orange_colr3);
}

div.table_img_and_text img{
    width: 150px;
    border-radius: 50%;
}

div.table_img_and_text h3{
    text-align: center;
    margin-top: 0;
    font-size: 26px;
    padding: 30px 0 0 0;
}

div.table_img_and_text p{
    font-size: 18px;
    margin: 0;
}

div.table_img_and_text a{
    text-decoration: none;
    color: var(--main_orange_colr1);
}

span.contact:hover{
    border-bottom: solid 3px var(--main_orange_colr1);
}



/* ____________________________________PORTFOLIO_________________________________ */
div.header{
    background-color: var(--main_blue_grey_colr2);
    margin: 0;
    padding: 20px;
    color: white;
    position: relative;
}

div.header h1{
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 10px;
    border-left: solid 5px white;
    font-size: 50px;
}

div.header a{
    text-decoration: none;
    color: var(--main_orange_colr1);
    padding: 8px 20px;
    border: solid 4px var(--main_orange_colr1);
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 16px;
    transition-duration: 0.5s;
}

div.header a:hover{
    font-size: 14px;
    box-shadow: 3px -3px 2px var(--shadow_color);
    border-bottom: none;
    border-left: none;
    font-weight: bold;
}

div.portf_title_layout{
    background: url(laboratory-1338722_1920.jpg) no-repeat center/cover;
    width: 100%;
    min-height: 300px;
    margin-top: 0;
}

div.portf_title{
    width: 50%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 40px 40px 20px;
    text-align: center;
    transition-duration: 1s;
}

div.portf_title:hover{
    width: 70%;
}

div.portf_title h2{
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 30px;
    color: var(--main_orange_colr4);
    font-size: 37px;
}

div.portf_title p{
    color: var(--main_grey_section_colr2);
    font-size: 23px;
}

div.portf_title div.bouton{
    margin-top: 50px;
}

div.topic_portf{
    color: var(--main_font_grey_colr2);
    padding: 30px 50px;
}

div.topic_portf p{
    text-align: justify;
    font-size: 18px;
}

div.all_contacts_portf{
    margin-top: 100px;
}



/* ==========================RESPONSIVE DESIGN/ PHONE============================= */
@media only screen and (max-width: 767px) {
    
    div.home_head img{
        width: 220px;
    }

    h1{
        font-size:  30px;
    }

    div.short_line{
        width: 200px;
    }

    div.mobile_contact a{
        padding: 8px 25px;
    }

    nav li a{
        font-size: 18px;
    }

    nav li a:hover{
        font-size: 19px;
    }

    div.intro{
        padding: 0;
    }

    div#space1{
        display: none;
    }

    div.intro p{
        margin: 0;
        padding: 20px 0 0 0;
        font-size: 18px;
    }

    /* ____________________________________________________________________________________ */

    div.txt{
        width: 90%;
        display: block;
        margin: 0;
        padding-left: 17px;
        font-size: 16px;
    }

    div#h2_phone_container{
        text-align: center;
    }

    h2#phone{
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        color: var(--red_color);
        border-bottom: solid 3px var(--red_color);
    }

    div.img_container{
        display: block;
        width: 75%;  
    }
    
    div.img_container img:hover{
        right: -30px;
        width: 120%;
    }

    div.txt p{
        padding: 20px 0px;
    }

    div.bloc3{
        padding: 25px;
        padding-top: 100px;
    }

    div.bloc3 h2{
        font-size: 30px;
        margin: 0 0 10px 0;
    }

    div.portfolios{
        display: block;
    }

    div.portf{
        display: block;
        width: 70%;
        margin-bottom: 60px;
        margin-right: auto;
        margin-left: auto;
    }

    div.portf:hover{
        width: 75%;
    }

    div.text{
        padding: 5px 10px;
        /* text-align: justify; */
    }

    div.text h3{
        font-size: 17px;
    }

    div.text p{
        font-size: 16px;
    }
    
    div.text a{
        padding: 5px 7px;
        font-size: 14px;
    }


    div.all_contacts{
        margin: 0 0 80px 0 ;
    }

    div.all_contacts p{
        font-size: 16px;
        padding-top: 0;
    }

    div.all_contacts img{
        width: 25px;
    }
    
    div.all_contacts img:hover{
        width: 35px;
    }


    iframe.foot_iframe{
        height: 700px;
    }


    /* _________________________________FOOT_FRAME________________________________ */
    div.foot{
        margin: 20px;
    }

    div.foot_img_container{
        width: 75%;
        position: relative;
        left: 0;
    }

    div.table_img_and_text{
        padding: 10px; 
        left: 70px;  
        top: 70px;
    }
    
    div.table_img_and_text img{
        width: 70px;
        margin-left: -10px;
    }

    div.table_img_and_text h3{
        font-size: 20px;
        padding: 20px 0 0 0;
    }

    div.table_img_and_text p{
        font-size: 15px;
        margin-right: 0px;
        margin-left: 0;
    }


    /* _______________________________PORTFOLIO_______________________________ */
    div.header h1{
        padding: 10px;
        font-size: 20px;
        margin-left: -10px;
    }

    div.header a{
        padding: 5px 10px;
        border: solid 2px var(--main_orange_colr1);
        top: 30px;
        font-size: 11px;
        font-weight: bold;
    }
    
    div.header a:hover{
        font-size: 12px;
    }
   
    div.portf_title{
        padding: 40px 15px;
    }

    div.portf_title h2{
        font-size: 22px;
    }

    div.portf_title div.short_line{
        width: 120px;
    }

    div.portf_title p{
        font-size: 18px;
    }

    div.portf_title div.bouton a{
        padding: 5px 15px;
    }

    div.topic_portf{
        padding: 30px 20px;
    }

    div.topic_portf p{
        margin-top: 0;
        font-size: 16px;
    }

    div.all_contacts_portf{
        margin: 50px 0 20px 0;
    }
}   



@media only screen and (max-width: 317px){
    h1{
        font-size: 27px;
    }

    iframe.foot_iframe{
        height: 750px;
    }

    div.table_img_and_text img{
        width: 70px;
    }

    div.header h1{
        padding: 7px;
        font-size: 17px;
        margin-left: -14px;
    }

    div.header a{
        top: 26px;
        right: 5px;
    }

    div.portf{
        width: 80%;
    }
}